body {
  background-color: #000000;
}

img {
  background-image: url("../images/main bg.jpg")no-repeat;
  background-size: cover;
}

h1 {
  font-family:impact,sans-serif;
  font-size: 61px;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
}

h2 {
  color: gray;
  font-family: helvetica;
  text-align: center;
  padding: 0 0 40px 0;
  margin: 0 0 20px;
}

h3 {
  color: gray;
  font-family: Arial;
  padding-bottom: 0;
}

p {
  text-align: center;
}

a:hover {
  background-color: #ff0000;
}
a {
  color: #ffffff;
  font-family: arial; 
  margin: 0 40px;
  padding: 10px;
  display: inline;
  text-align: center;
  text-decoration: none; 
}