body {
  background: black;
  background-image: url(/images/day02.jpg);
}

h1 {
  font-family: "Poiret+One";
  font-size: 60px;
  color: white;
  text-align: center;
  padding:0px;
  margin:0px;
}

h2 {
  font-family:helvetica;
  color:gray;
  text-align: center;
  padding:0 0 20px 0;
  margin: 0px;
}

p {
  display: block;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover{
  background-color: red;
  color: black;
}

a {
  color: white;
  text-decoration: none;
  font-family:arial;
  text-align: block;
  padding: 10px;
  margin: 20px;
}