body {
  background:black;
}

h1 {
  font-family:impact,sans-serif;
  color: white;
  text-align: center;
}

h2,p {
  color:white;
  text-align: center;
}

a {
  color: gray;
  text-align: center;
}
