body {
  background: black;
}

h1 {
  font-family:impact,sans-serif;
  font-size: 85px;
  color: white;
  text-align: center;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}

h2 {
  font-family:helvetica;
  color:gray;
  text-align: center;
  padding:0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}

h3 {
  font-family:Arial;
  color:gray;
  padding:20px 0 0 0;
}

p {
  text-align: center;
  font-family: arial;
  display: inline;
  color: white;
  padding-top: 0 0 15px 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover{
  background-color: red;
}

a {
  color: white;
  text-decoration: none;
  font-family:arial;
  text-align: block;
  padding: 10px;
  margin: 40;
}

#nav {
  color: white;
  text-decoration: none;
  font-family:arial;
  text-align: center;
  padding: 30px;
}